.App {
  text-align: center;
}

.categories {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  height: 50px;
  background-color: rgb(7, 7, 7);
  box-shadow: #121008 3px 3px 20px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

.categories_title {
  color: rgb(172, 164, 164);
  font-size: 25px;
  font-weight: bolder;
  font-style: italic;
  background-color: #353534;
  height: 45px;
  width: 150px;
  padding-top: 5px;

}

.categories_item {
  color: rgb(212, 213, 215);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.categories_item:hover,
:focus {
  color: black;
  background-color: #ebeae6;
  box-shadow: #bfbebc 5px 3px 20px;
  border-radius: 10px;
  padding: 5px 7px;
}